$primary: #021708;
$secondary: #E1A200;
$text: #021708;
$accent: #FF8A00;
$dark-black: #000;
$white: #fff;
$green: #525A46;
$light-green: #525A46;
$danger: #E31616;
$warning: #EA9D0C;
$info: #2DDAE8;
$success: #2DE85F;
$BG: #E9FFE7;
$light-white: #B9B9B9;
$sahde-green: #25FF77;