@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Font Families
$body: 'Work Sans', sans-serif;
$heading: 'DM Sans', sans-serif;

//Font sizing
$h1: 86px;
$h2: 70px;
$h3: 46px;
$h4: 38px;
$h5: 26px;
$h6: 20px;
$body-text: 16px;

// Font weight
$bold: 700;
$regular: 400;
$black: 900;
$light: 300;
$thin: 100;
$extraLight: 200;
$medium: 500;
$semiBold: 600;
$extraBold: 800;
